.all{
    text-align: center;
    width: 50%;
    margin: auto;
}

.fon-d{
    height: 500px;
    width: 500px;
    background: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fon-a{


    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}