<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
<title>Английский фор айти</title>

</head>
<body>
    <div class="intro" id="intro">
        <div class="over-lay">
            <div class="container">
                <div class="main-wir">
                    <div class="logo1">
                        <img src="{{ url_for('static', filename='img/IT.png')}}" alt="" class="logo1">
                    </div>
                    <div class="warrning">
                        <img src="{{ url_for('static', filename='img/circle 1.png')}}" alt="">
                        <p class="main-text">Сайт находится в разработке, могут случаться некоторые проблемы с производительностью.</p>
                    </div>
                    <div class="section-1">
                        <p class="main-text-section-1">Изучай английский для твоей будущей карьеры в IT с использованием современных технологий и искусственного интеллекта.</p>
                    </div>
                    <button class="btn btn-secondary btn-a " ><a href='#main'>Начать изучение!<a></button>
                </div>

            </div>
        </div>
    </div>

    <div class="section-2" id="main">
                    
        <div class="container">
            <p class="main-text-section-2">Чтобу мы смогли подобрать для тебя  максимально нужные слова для изученияя, воспользуюйся фильтром ниже, и скорее начинай изучение английского!</p>
            <hr>
            <form action="POST">
            <p class="main-text-section-leb">С каких сайтов вы хотели бы получать информацию?</p>
            <div class="form">
                
                <div class="lebel1 leble">
                    <input type="checkbox" name="" id="aaa1">
                    <span class="link">Сайты с тематикой машиного обучения</span>
                </div>
                <div class="lebel2 leble">
                    <input type="checkbox" name="" id="">
                    <span class="link">Сайты о веб разработке</span>
                </div>
                <div class="lebel3 leble">
                    <input type="checkbox" name="" id="">
                    <span class="link">Сайты с тематикой софтскилс</span>
                </div>
            </div>
            
            <p class="main-text-section-leb">Сколько слов вы бы хотели вывести?</p>
            <div class="form-2">
                
                <div class="lebel1 lebb">
                    <input type="checkbox" name="" id="">
                    <span class="link">5 слов</span>
                </div>
                <div class="lebel2 lebb">
                    <input type="checkbox" name="" id="">
                    <span class="link">10 слов</span>
                </div>
                <div class="lebel3 lebb">
                    <input type="checkbox" name="" id="">
                    <span class="link">20 слов</span>
                </div>
            </div>
        </form>
        <button class="btn btn-secondary btn-a " id='result' ><a href = "/result">Запустить программу</a></button>
        </div>
    </div>
    <footer>
        <div class="container">
            <p class="footer-text text-f">Сайт создан в учебных целях</p>
            <div class="links">
                <p class="footer-text">2021</p>
                <p class="footer-text">Академия Калашникова</p>
            </div>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/three.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/vanta.net.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>
    <script>
    VANTA.NET({
      el: "#intro",
      mouseControls: true,
      touchControls: true,
      gyroControls: false,
      minHeight: 200.00,
      minWidth: 200.00,
      scale: 1.00,
      scaleMobile: 1.00,
      color: 0x4a3fff
    })
    </script>
</body>
</html>